body{
    margin: 15px;
    padding: 0px;
    background-image: url("img/fundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: OCR A;
}  
header{
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
}
.container_quimicos{
    display: flex;
    justify-content: space-around; 
}
.quimico{
    height: 280px;
    width: 280px;
}
form{
    text-align: center;
    position:relative;
}
.dados{
    margin: 20px;
    width: 550px;
    height: 72px;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    font-family: OCR A;
}
#input_image_prancheta{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 28px;
    right: 680px;
}
#input_image_envelope{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 150px;
    right: 680px;
}
#input_image_cadeado1{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 265px;
    right: 680px;
}
#input_image_cadeado2{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 380px;
    right: 680px;
}
#input_image_relogio{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 500px;
    right: 680px;
}
#confirmar{
    margin-top: 30px;
    margin-bottom:0px;
    background-color:#DCC918;
    color: white;
    width: 500px;
    height: 80px;
    border-radius: 50px;
    font-size: 60px;
    font-family: OCR A;

}
footer{
    text-align: center;
    font-size: 35px;
}
.container_imagem{
    display: flex;
    justify-content: space-around;
}
.tipo_login{
    height: 100px;
    width: 100px;
}